.payment-page {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1551554781-c46200ea959d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}

.payment {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.payment-page .address-container {
    padding: 10px 25%;
    display: flex;
    justify-content: center;
}

.payment-page .address {
    display: block;
    padding: 10px 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    background-color: white;
}

#main {
    margin-top: 100px;
    position: relative;
    width: 550px;
    height: 330px;
    left: 30px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: white;
}

#left {
    position: relative;
    background: linear-gradient(135deg, rgba(91, 36, 122, 0.45) 0%, rgba(199, 250, 255, 0.55) 100%), url("https://i.pinimg.com/236x/e1/61/ee/e161ee9b33467e62af5053ab80874819--showroom-design-showroom-ideas.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100% + 203px);
    width: 76%;
    top: 2px;
    left: -211px;
    padding: 10px 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#left #head {
    opacity: 0.95;
}

#right {
    position: absolute;
    width: calc(60% - 40px);
    height: 100%;
    top: 0;
    left: 40%;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 27px;
    padding-top: 38px;
}
#right .span {
    font-size: .2rem;
}

#right form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

#right form input,
#right form select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    border: none;
    border-bottom: 1.5px solid #ccc;
    padding: 5px;
    margin-top: 2.5px;
    position: relative;
}

#right form .form-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 12.5px;
}

#right form #date-val {
    display: flex;
    justify-content: space-between;
}

#right form #date-val select {
    width: 45%;
}

#right form button[type=submit] {
    background: linear-gradient(135deg, #4183d7 0%, #66cc99 100%);
    padding: 5px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 10px;
}

#right form button[type=submit]:hover {
    background: transparent;
    box-shadow: 0 0 0 3px #4183d7;
    color: #4183d7;
}