footer {
    background-color: #afafaf;
    color: black;
    padding: 20px 0px;
    font-weight: lighter;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
footer h2 {
    text-align: center;
    margin-bottom: 10px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    justify-content: space-between;
}

.footer-column {
    width: 40%;
}

.footer-column h3 {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 20px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-icons li {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    /* border: 1px solid rgb(43, 43, 43); */
    margin: 10px 6px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons .row img {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 25px;
}

.social-icons a {
    background-color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: #000000;
    text-align: center;
}

.footer-bottom {
    background-color: #8b8b8b;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    margin: 5px;
}

@media screen and (max-width:720px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-column {
        width: 90%;
        padding: 20px 0;
    }

    .social-icons {
        display: block;
    }

    .social-icons .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .social-icons li {
        width: 120px;
        margin: 5px 0;
        justify-content: left;
    }
}