.orders {
    padding: 20px 3%;
}
.orders .container {
    display: flex;
    padding: 10px;
    width: 1000px;
    align-items: center;
}
.orders .container .row:last-child {
    display: block;
}
.orders h2 {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 1rem;
}
.orders img {
    width: 300px;
}
.orders button {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-left: 30px;
}